body {
  font-family: "Poppins", sans-serif;
  background: #f2f3f4;
  margin: 0;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.checkout-wrapper {
  width: 95%;
  max-width: 1200px;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 20px;
}

.logo {
  font-size: 20px;
  color: #ff7b47;
}

/* Steps */
.steps-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.step {
  text-align: center;
  font-size: 14px;
  color: #999;
}

.circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 6px;
  font-weight: 600;
}

.step.active span,
.circle.active {
  color: #ff7b47;
  border-color: #ff7b47;
}

/* Layout */
.checkout-content {
  display: flex;
  gap: 40px;
}

/* Form Box */
.form-box {
  flex: 2;
}

.form-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 13px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
}

.flex-row {
  display: flex;
  gap: 10px;
}

/* Summary */
.order-summary {
  flex: 1;
  background: #fff;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.order-summary h3 {
  margin-bottom: 15px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.item img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-right: 10px;
}

.line {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  color: #666;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin-top: 10px;
}

/* Buttons */
.bottom-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.btn-back {
  background: #fff;
  border: 1px solid #ff7b47;
  padding: 10px 18px;
  border-radius: 10px;
  color: #ff7b47;
  cursor: pointer;
  font-weight: 500;
}

.btn-next {
  background: #ff7b47;
  padding: 10px 22px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
